body{
  font-family: 'Roboto', sans-serif;
  max-width: 700px;
  margin: auto;
  background-color: rgb(224, 224, 224);
}
main {
  display: grid;
  align-items: center;
  justify-content: center;
}
main img{
  max-width: 500px;
}

a { 
  color: teal; 
}
h1, header {
  text-align: center;
  font-size: 1.5em;
  padding: 30px;
  background-color: rgb(6, 50, 58);
  color: #cadec5;
}

h2 {
  font-size: 1rem;
  padding: 0px 0px 0px 10px;
}

footer {
  text-align: center;
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 5px 0px;
  background-color: rgb(6, 50, 58);
  color: rgb(146, 158, 149);
}

h3{
  font-size: .9em;
}

h4{
  font-size: .8em;
   color: #e3eee0;
}

img { 
  margin: 10px;
}
@media only screen and (min-width: 32.5em) {
  h1 {
    font-size: 2.5rem;

  }
  
h2 {
  font-size: 1.5rem;
}
header, footer {
  border-radius: 10px;
}
img {
  float: right;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

}